
  <div class="customerdetail">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of Customers">
          <td>{{customer.user_id}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.address}}</td>
          <td><button type="button" class="btn btn-primary" (click)="viewCustomer(customer.user_id)">Show
              Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="customerview">
    <strong>Display customer Details and Remove a Customer.               </strong> <a routerLink="/admin"  ><button color=primary
        mat-raised-button>
        <mat-icon>arrow_back</mat-icon>Go back
      </button></a>
    <app-viewcustomer *ngIf="action === 'view'" [customer]="selectedCustomer" (userDeletedEvent)="refereshData()">
    </app-viewcustomer>
  </div>
