<p>login works!</p>

<div class="form">
    <div class="sidebar">
        <!--<h4 [style.color]="(message==='inavlid user')?'red':'green'"> {{message}}
            <br>
            <div *ngIf="message!=='invalid user' && message.length!==0">
                <p>Redirecting to Home</p>
                <p *ngIf="message!=='invalid user' && message.length!==0?true:false"></p>
            </div>

        </h4>-->

        <h3 class="text">Welcome to Shopping...</h3>


    </div>

    <form class="sidebarin" #loginForm="ngForm">
        <table class="table-width">

            <tr>
                <td>
                    <mat-form-field appearance="fill" class="half-width">
                        <mat-label>Email:</mat-label>
                        <input type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" matInput
                            placeholder="agular@gmail.com" name="email" [(ngModel)]="userName"
                            #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
                        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Enter valid
                            email</small>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field appearance="fill" class="half-width">
                        <mat-label> Password:</mat-label>
                        <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required matInput
                            placeholder="***" name="password" #pwd="ngModel" [(ngModel)]="password"
                            [class.is-invalid]="pwd.invalid && pwd.touched">
                        <small class="text-danger" [class.d-none]="pwd.valid || pwd.untouched">Enter valid password</small>
                    </mat-form-field>
                </td>

            </tr>


            <tr>
                <td><button mat-raised-button type="submit" [disabled]="loginForm.form.invalid" style="margin-left: 40%;"
                        >Login</button></td>
            </tr>
            <tr>
                <td>
                    <div style="color:indigo;">

                        <a routerLink="/register">
                            <h4>New User? Sign Up</h4>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>