
<span><h1>Products Admin</h1><a (click)="addProduct()"><button mat-raised-button color=primary><mat-icon>add</mat-icon>Add New Product</button></a> </span>
  <div class="productdetail">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Product Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.product_id}}</td>
          <td>{{product.product_name}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="viewProduct(product.product_id)">Show Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="productview">
    View Product Details/Add Product <a  class="btn btn-small" routerLink="/admin" style="margin-right: 5%;"><button mat-raised-button color=accent><mat-icon>arrow_back</mat-icon>Go back</button></a>
    <app-addproduct *ngIf="action === 'add' || action === 'edit' " [product]="selectedProduct" (productadded)="refereshData()"></app-addproduct>
    <app-viewproducts *ngIf="action === 'view'" [product]="selectedProduct"  (deletedproductevent)="refereshData()"></app-viewproducts>
  </div>