
<span><h1>Products Admin</h1><a (click)="addProduct()"><button mat-raised-button color=primary><mat-icon>add</mat-icon>Add New Product</button></a> </span>
  
  <mat-form-field style="margin-left: 2%;">
    <input type="text" matInput placeholder="search here.." (keyup)="search($event.target.value)">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <div class="productdetail">
      <mat-table [dataSource]="dataSource" >
        <!-- id Column -->
        <ng-container matColumnDef="productId">
          <mat-header-cell *matHeaderCellDef>Product Id </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.productId}} </mat-cell>
        </ng-container>
  
        <!-- product_name Column -->
        <ng-container matColumnDef="productName">
          <mat-header-cell *matHeaderCellDef>product Name </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.productName}} </mat-cell>
        </ng-container>
  
        
  
        <!-- deatail Column -->
        <ng-container matColumnDef="Detail">
          <mat-header-cell *matHeaderCellDef> Deatils </mat-header-cell>
          <mat-cell *matCellDef="let product"> <button type="button" mat-raised-button color=primary
              (click)="viewProduct(product.productId)">Show
              Details</button> </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator  [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
   
    </div>
  </div>


  <div class="productview">
    View Product Details/Add Product <a  class="btn btn-small" routerLink="/admin" style="margin-right: 5%;"><button mat-raised-button color=accent><mat-icon>arrow_back</mat-icon>Go back</button></a>
    <app-addproduct *ngIf="action === 'add' || action === 'edit' " [product]="selectedProduct" (productadded)="refereshData()"></app-addproduct>
    <app-viewproducts *ngIf="action === 'view'" [product]="selectedProduct"  (deletedproductevent)="refereshData()"></app-viewproducts>
  </div>