
  .imageprop{
      height:300px;
      width: 300px;
  }
  .imageslider{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 95%;
    height: 10%;
  }
  .product-container
  {
      margin-left: 7%;
      display:grid;
      grid-gap: 10px;
      grid-template-columns: auto auto auto auto;
      justify-content:flex-start;
      width: auto;
  }