
<div class="imageslider" >
    <app-imageslider></app-imageslider>
</div>
<div class="product-container" style="margin-top: 2%;">
    <div  *ngFor="let product of  products;let i=index">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.productName | titlecase}}</mat-card-title>
            </mat-card-header>
            <img class="imageprop" mat-card-image src="{{product.retrivedImage}}" alt="{{product.productName}}">
            <mat-card-content>
                <p>
                    {{product.productDetail | titlecase}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <p>₹{{product.productPrice}}</p>
                <button mat-raised-button color="primary">Buy</button>
                <button mat-raised-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>