
  .imageprop{
      height:300px;
      width: 300px;
  }
  .imageslider{
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 2%;
  }
  .product-container
  {
      margin-left: 7%;
      display:grid;
      grid-gap: 10px;
      grid-template-columns: auto auto auto auto;
      justify-content:flex-start;
  }