<h1>{{product.product_id == null ? 'Add' : 'Edit'}} Product - {{product.product_id}}</h1>

<form>
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Product Name" [(ngModel)]="product.product_name"
    name="name">

  <label for="detail">Detail</label>
  <input type="text" class="form-control" id="author" placeholder="details" name="product_detail"
    [(ngModel)]="product.product_detail">

  <label for="price">Price</label>
  <input type="text" class="form-control" id="price" placeholder="price" name="price"
    [(ngModel)]="product.product_price">

  <label for="user">Type of User</label>
  <select class="mdb-select md-form" id="type_of_user" class="form-control" placeholder="type of uer" name="type_of_user" [(ngModel)]="product.type_of_user">
    <option value="Mens">Men</option>
    <option value="WoMen">Women</option>
    <option value="Children">Children</option>
    <option value="Both">Both</option>
    <option value="Home">Home</option>
  </select>
  <!--<input type="text" class="form-control" id="price" placeholder="type of uer" name="type_of_user"
    [(ngModel)]="product.type_of_user">-->

  <label for="availability">Available products</label>
  <input type="number" class="form-control" id="available products" placeholder="available products" name="product_available"
    [(ngModel)]="product.product_available">

    <!--image field viewed onlt for addning purpose not for edit-->
  <div *ngIf="product.product_id == null">
    <h4 class="text-danger">Image size not more than 50kb</h4>
    <br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
  </div>

  <br>
  <br>
  <button type="button" class="btn btn-success" (click)="saveProduct()">Save Product</button>
</form>